@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

* {
  background-color: #252525;
}
